<% extend('layout') %>

<form action="/leave_club" method="post">
    <h2 class="mb-3 modal-title ">Are you sure you wanna leave the club?</h2>
    <button type="submit" class="btn btn-danger">Leave</button>
</form>